


<div    class="oj-sm-padding-4x-bottom oj-flex-item oj-flex oj-sm-justify-content-flex-end oj-sm-width-full">

    <oj-input-search
    id="search1"
    class="oj-form-control-max-width-md oj-sm-justify-content-flex-start"
    suggestions="[[customersDataProvider]]"
    value="{{value}}"
    raw-value="{{rawValue}}"
    on-oj-value-action="[[handleValueAction]]"
    placeholder="Search..."
    aria-label="My search field">
    </oj-input-search>
    


    <oj-button class="oj-button-md oj-sm-padding-1x-horizontal"   chroming="callToAction" on-oj-action="[[onAddButton]]">
        <span slot="startIcon" class="oj-ux-ico-contact-plus"></span>
        <span><oj-bind-text>Create New Customer</oj-bind-text></oj-bind-text></span>
    </oj-button>

</div>

    <oj-list-view 
    id="listview"
    class="oj-listview-item-padding-off"
    data="[[customersDataProvider]]"
    selected="{{selectedItems}}"
    selection-mode="single"
    selection-required="[[selectedSelectionRequired]]"
    scroll-policy-options.fetch-size="10"
    scroll-policy-options.max-count="200"
    on-selected-changed="[[handleSelectedChanged]]"
    first-selected-item="{{firstSelectedItem}}"
    gridlines.item="visible">
        <template slot="itemTemplate" data-oj-as="item">
            <oj-list-item-layout>
                <span class="oj-typography-body-md oj-text-color-primary oj-typography-bold">
                    <oj-bind-text value="[[item.data.firstName]]"></oj-bind-text>
                    <oj-bind-text value="[[item.data.lastName]]"></oj-bind-text>
                </span>

                <oj-avatar slot="leading" size="xs" src="[[item.data.avatar]]"></oj-avatar>

                <span slot="secondary" class="oj-typography-body-sm oj-text-color-secondary">
                    <oj-bind-text value="[[item.data.email]]"></oj-bind-text>
                </span>
                <span>
                <div    class="oj-flex-item oj-flex oj-sm-justify-content-flex-end oj-divider  oj-sm-width-full">
                    <oj-button class="oj-button-sm oj-sm-padding-2x-horizontal "  chroming="solid" on-oj-action="[[onEditButton]]">
                        <span slot="startIcon"  class="oj-ux-ico-contact-edit"></span>
                        <span><oj-bind-text>Edit</oj-bind-text></oj-bind-text></span>
                    </oj-button>
                    <oj-button class="oj-button-sm oj-sm-padding-2x-horizontal"  chroming="danger" display="icons" on-oj-action="[[onDeleteButton]]">
                        <span slot="startIcon"  class="oj-ux-ico-delete-all"></span>
                        <span><oj-bind-text>Delete Customer</oj-bind-text></oj-bind-text></span>
                    </oj-button>
                </div>


                </span>

            </oj-list-item-layout>
        </template>
</oj-list-view>


<div    class="oj-sm-padding-4x-top oj-flex-item oj-flex oj-sm-justify-content-flex-end oj-sm-width-full">


<span>
    <oj-button class="oj-button-md oj-sm-padding-1x-horizontal"  disabled="[[isOnFirstPage]]" chroming="callToAction" display="icons" on-oj-action="[[onPreviousButton]]">
        <span slot="startIcon" class="oj-ux-ico-chevron-left"></span>
        <span><oj-bind-text>Previous</oj-bind-text></oj-bind-text></span>
    </oj-button>
    <oj-button class="oj-button-md oj-sm-padding-1x-horizontal"  disabled="[[isOnLastPage]]" chroming="callToAction" display="icons" on-oj-action="[[onNextButton]]">
        <span slot="startIcon" class="oj-ux-ico-chevron-right"></span>
        <span><oj-bind-text>Next</oj-bind-text></oj-bind-text></span>
    </oj-button>
</span>
</div>

<!--DIALOG-->
<oj-dialog  :id="[[deleteCustomerDialogId]]" 
            :dialog-title="[[deleteCustomerDialogTitle]]"
            on-oj-before-close="[[beforeDeleteCustomerDialogClose]]"
            initial-visibility="hide">
    <div slot="body">Are you sure you want to delete this customer?</div>
    <div slot="footer">
        <oj-button class="oj-button-sm oj-sm-padding-2x-horizontal" chroming="callToAction" on-oj-action="[[onConfirmDeleteButton]]" display='all'>
            <span><oj-bind-text value="[[deleteCustomerLabel]]"></oj-bind-text></span>
        </oj-button>
        <oj-button class="oj-button-sm oj-sm-padding-2x-horizontal"  on-oj-action="[[handleCloseDialog]]" display='all'>
            <span><oj-bind-text value="[[closeDialogLabel]]"></oj-bind-text></span>
        </oj-button>

    </div>
</oj-dialog>
<!--DIALOG END-->


<div class="oj-typography-body-sm oj-text-color-secondary">
    <br />
    <label for="curr-selection">Current Selection:</label>
    <span id="curr-selection-value">
    <oj-bind-text value="[[getDisplayValue(selectedItems())]]"></oj-bind-text>
    </span>
    <br />
    <br />
    <label for="selected-item-ids">IDs from Selected Change Event:</label>
    <span id="selected-item-ids-value">
    <oj-bind-text value="[[ko.toJSON(selectedIds)]]"></oj-bind-text>
    </span>
    <br />
    <br />
    <label for="first-selected-item-id">Data for First Selected Item:</label>
    <span id="first-selected-item-id-value">
    <oj-bind-text value="[[ko.toJSON(firstSelectedItem)]]"></oj-bind-text>
    </span>
</div>







